<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CryptoServiceSoap" />
                <binding name="CryptoServiceSoap1" />
                <binding name="CryptoServiceSoap2" />
                <binding name="CryptoServiceSoap3" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:60670/CryptoService.asmx"
                binding="basicHttpBinding" bindingConfiguration="CryptoServiceSoap"
                contract="CryptoServiceReference.CryptoServiceSoap" name="CryptoServiceSoap" />
            <endpoint address="http://localhost:60670/CryptoService.asmx"
                binding="basicHttpBinding" bindingConfiguration="CryptoServiceSoap"
                contract="CryptoServiceReference1.CryptoServiceSoap" name="CryptoServiceSoap" />
            <endpoint address="http://localhost:60670/CryptoService.asmx"
                binding="basicHttpBinding" bindingConfiguration="CryptoServiceSoap2"
                contract="CryptoServiceReference2.CryptoServiceSoap" name="CryptoServiceSoap1" />
            <endpoint address="http://localhost:60670/CryptoService.asmx"
                binding="basicHttpBinding" bindingConfiguration="CryptoServiceSoap3"
                contract="CryptoServiceReference3.CryptoServiceSoap" name="CryptoServiceSoap2" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
